<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body { font-size: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #555; padding: 0; margin: 10px }
        h1 { font-size: 24px; font-weight: bold; }
        h2 { font-size: 20px; font-weight: bold; }
        h3 { font-size: 16px; font-weight: bold; }
        h1, h2, h3 { color: #006666; }
        a { text-decoration: underline; color: #006666; }
        .media { width: 280px; margin: 0 10px 10px 0; float: left; }
        .media-gallery { width: 280px; height: 340px; margin: 0 10px 10px 0; float: left; }
        .media-link { display: block; width: 280px; height: 210px; }
        .clearfix:before { content: " "; display: table; }
        .clearfix:after { content: " "; display: table; clear: both; }
        .image { max-width: 1200px; }
        .image-link { display: block; max-width: 1200px; }
        .license { font-size: 0.8em; color: #999; }
        @media (max-width: 1200px) {
            .image {
                max-width: 100%;
            }
            .image-link {
                max-width: 100%;
            }
        }
    </style>
</head>
